@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "poppins";
}

body {
    width: 100%;
    height: 100vh;
}

header {
    width: 100%;
    padding: 0px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #060606;
}

.logo {
    margin: 10px 50px;
}

header a img {
    width: 100%;
    height: 50px;
}

#menu {
    padding: 0px;
}

.menu__item a {
    color: white;
    padding: 27px;
    text-decoration: none;
    font-weight: bold;
    transition: 0.5s;
    border-radius: 5px;
}

.menu__item a:hover {
    background-color: #FBA834;
    color: #060606;
}

mid {
    width: 100%;
}

.search {
    display: flex;
    background: #FBA834;
    height: 6vh;
    justify-content: center;
    align-items: center;
}

.search__box {
    display: flex;
    position: relative;
    transition: 0.5s;
}

.search__icon {
    position: absolute;
    margin: 1px 280px;
    opacity: 0.5;
}

.search__box:hover .search__icon,
.search__box:focus-within .search__icon {
    display: none;
}

#search__box__input {
    height: 25px;
    width: 40vh;
    border-radius: 20px;
}

.search__btn {
    padding: 0 20px;
}

.search__btn button {
    padding: 3px;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    outline: none;
    transition: 0.5s;
}

.search__btn button:hover {
    background-color: #378CE7;
    color: white;
}

.background img{
    width: 100%;
}

/* Footer styles */
.footer {
    background-color: #333;
    color: #fff;
    padding: 20px 0;

}

.container {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer p {
    margin-bottom: 10px;
}

.footer nav ul {
    list-style: none;
    margin: 0px 40px;
}

.footer nav ul li {
    display: inline;
    margin-right: 20px;
}

.footer nav ul li:last-child {
    margin-right: 0;
}

.footer nav ul li a {
    color: #fff;
    text-decoration: none;
    justify-content: center;

}

.footer nav ul li a:hover {
    text-decoration: underline;
}

.logo-social {
    display: flex;
    margin: 0px 150px;
    align-items: center;
    justify-content: space-between;
}

.social-media {
    padding: 0px 40px;
    
}

.social-media i{
    padding: 0px 30px;
    cursor: pointer;
    font-size: 18px;
}

.logo-social img {
    width: 150px;
    height: 100%;
}

.social-media .fa-facebook:hover {
    color: #3b5998; /* Màu xanh của Facebook */
}

.social-media .fa-github:hover {
    color: #6e5494; /* Màu tím của Github */
}

.social-media .fa-instagram:hover {
    color: #e4405f; /* Màu hồng của Instagram */
}

.social-media .fa-twitter:hover {
    color: #1da1f2; /* Màu đen của Twitter */
}

